# Ignorar dependências
node_modules/
docs
docs/
docs/*

# Ignorar a pasta de documentação
docs/
docs/*

# Ignorar arquivos de log
*.log

# Ignorar variáveis de ambiente
.env
.env.* 
package-lock.*

# Ignorar diretórios temporários
tmp/
temp/
.cache/
dist/
build/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar pastas de IDEs/editors
.vscode/
.idea/
*.swp
