[Unit]
Description=MongoDB Replica Set Instance rodando na porta 27018
After=network.target

[Service]
User=alexon
ExecStart=/usr/bin/mongod --replSet rs0 --port 27018 --dbpath=/home/alexon/capixabay-mongodb-rs/data2 --bind_ip=localhost
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=capixabay-mongodb-27018

[Install]
WantedBy=multi-user.target
