Como é feito o processo para saber as empresas que atedem o usuario naquele bairro.

1 - Sempre que mudar as informaçõe abaixo que pertence a coleção ROTAS_EMPRESAS_BAIRROS

  _id: 685c0fad845ac72350f78bd9
   bairro_slug: CARAPINA-GRANDE-SERRA-ES
  empresa_slug: MARIADOGAS
  empresa_nome_fantasia: Maria do Gás
  empresa_whatsapp: 552784996603623
  empresa_celular: 2784996603623
  empresa_categoria: REVENDA-GAS-E-AGUA
  empresa_ativa: true
  empresa_rota: ROTA-SERRA-1
  criado_em: 2025-06-05T12:00:00.000Z
